API_BASE_URL=http://localhost:3000
API_TOKEN=

# CRUD endpoints (RealWorld example)
REALWORLD_USERS_PATH=/api/users
REALWORLD_LOGIN_PATH=/api/users/login
REALWORLD_ARTICLES_PATH=/api/articles
REALWORLD_ARTICLE_PATH_TEMPLATE=/api/articles/{slug}
